body{
    background: url("../images/bg.png");
}
.m-padding-mini{
    padding-top:0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padding-medium{
    padding-top:1em !important;
    padding-bottom: 1em !important;
}
.max-pad{
    padding-top:5em !important;
    padding-bottom: 5em !important;
}
.incline-block{
    display: inline-block !important;
}
.fontsmall{
    font-size: 9px !important;
}
.ml0{
    margin-left: 0px !important;
}
.margin-mini{
    margin-bottom: 0.5em !important;
}
.topmar0{
    margin-top: 0px !important;
}
.margin1em{
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.containermaxwidth{
    max-width: 60em !important;
    margin: auto;
}
.padlr{
    padding:0  3em !important;
}